* {
    font-family: 'DM Sans';
    box-sizing: border-box;
    
}

/* body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 20px);
    height: calc(100%);
    padding: 15px 10px;
    background-color:#696969;
    position: absolute;
    z-index: -1;
} */
body {
    margin: 0;
    z-index: 0;
    margin: 0;
    padding: 0;
    /* display: flex;
    flex-wrap: wrap; */
    width: 100%;
    /* flex-basis: 100%; */
    /* background-color: #fff; */
}
.nav-search-inner{
    color: #fff;
    position: relative;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 20.83px;
    background-image: url(Untitled.png);
    background-size: cover;
    /* z-index: 0; */
}
.nav-search-inner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #111010;
    opacity: 50%;
    height: 100%;
    width: 100%;
    z-index: 1;
}
ul {
    list-style-type: none;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.nav > ul > li > a {
    color: #fff;
}

.nav-search {
    display: flex;
    width: 100%;
    padding-top: 15px;
    justify-content: space-between;
}
.search {
    order: -1;
    padding-left: 30px;
    position: relative;
    top: 15px;
    left: 15px;
    background-color: ;
    z-index: 2;
}
input[type=search] {
    /* position: relative; */
    border: 1px solid #000;
    border-radius: 47px;
    background: #000;
    width: 230px;
    text-align: center;
    height: 31px;
}
.nav > ul {
    display: flex;
    justify-content: space-between;
    z-index: 2;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
}
.nav{
    width: 75%;
}
.submit {
    background: none;
}
.inner {
    position: relative;
    z-index: 2;
    /* height: 0; */
    width: 100%;
    height: 100%;
    padding-top: 35px;
    text-align: center;
    padding-bottom: 10px;
}
.logo {
    width: 636px;
    height: 135px
}
.nav > ul > li {
    z-index: 2;
    font-size: 13px;
    padding: 5px;
    border-radius: 5px;
}
.nav > ul > li:hover{
    background-color: #F23C14;
    transition: all 0.4s;
}
button[type="submit"] {
    background: none;
    border: none;
    /* height: 10px; */
    position: absolute;
    top: 5%;
    left: 81%;
}
button[type="submit"]:hover {
    cursor: pointer;
}
.active{
    background-color: #F23C14;
}
h1 {
    text-align: center;
    padding: 7px 5px;
    margin: 0;
}
.content {
    background-color: #D9A880;
}
.content-img {
    /* background-clip: content-box;
    box-shadow: inset 0 0 0 10px lightGreen; */
    border: 15px solid rgba(255, 255, 255, 0.7);
}
/* img::before{
    content: "";
    position: relative;
    top: 50px;
    left: 50px;
    width: 100px;
    height: 100px;
    background-color: #000;
    display: block;
} */
.content{
    padding: 0 15px;
}
.page-container{
    border: 30px solid #807B79;
}
.footer-nav{
    /* z-index: 2; */
    background-color: #EBD2C4;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}
.footer-item{
    display: flex;
    justify-content: space-between;
    /* width: 13%; */
    flex-grow: 0.01;
    cursor: pointer;
}
.footer-item > a{
    color: #763008;
    font-weight: 700;
    font-family: 'DM Sans';
    padding-left: 5px;
    line-height: 80%;
    padding-top: 10px;
}
.like-share{
    display: inline-block;
    display: flex;
    padding-bottom: 20px;
}
.share + .like{
    padding-left: 50px;
}
hr {
    border-color:#000;
}
.like-button{
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.7);
    align-content: center;
    padding: 0 0 0 4px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    cursor: pointer;
}
.share-button{
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.7);
    text-align: center;
    padding: 0 0 0 4px;
    cursor: pointer;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding-right: 5px;
}
.share-button + .share-button {
    margin-left: 15px;
}
.share{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}
.sharethis{
    flex-basis: 100%;
    flex-grow: 1;
}
.sharethis > span {
    border-top: 2px solid rgba(0,0,0,0.7);
}
.likethis > span{
    border-top: 2px solid rgba(0,0,0,0.7);
}
.likethis {
    padding-top: 20px;
}
.row_img{
    display: flex;
    justify-content: space-around;
    position: relative;
    flex-wrap: wrap;
}
.row_item{
    text-align: center;
    position: relative;
}
